<div class="container">
    <form>
        <div class="head">
            <span>Sign up</span>
            <p>Create a free account with your email.</p>
        </div>
        <div class="inputs">
            <input type="text" placeholder="Full Name" required>
            <input type="text" placeholder="Cellphone Number" required>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password" required>
            <input type="password" placeholder="Confirm Password" required>
        </div>
        <button>Sign up</button>
    </form>
    <div class="form-footer">
        <p>Have an account? <a routerLink="/login" routerLinkActive="active">Log in</a></p> 
    </div>

</div>
    

